*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html{
	font-size: 100px; 
}
body{
	font-size: 0.14rem;
	background-color: #fff;  
	font-family: Helvetica,"Microsoft YaHei",Arial;
}
a{
	text-decoration: none;
}
ul,ol,li{
	list-style:none;
}
input{
	outline: none;
}
.picture{
	width: 1.12rem;
	height: 1.6rem;
	background-color: #fff;	
	position: absolute;
	left: 12%;
	top: 0.3rem;
	border: 1px solid #bc2c58;
	padding: 0.05rem;
}
.main{
	width: 90%;
	background-color: #fff;
	margin: 1.3rem auto 0.68rem;
	border-radius: 0.25rem;
	padding-top: 0.35rem;
	padding-bottom: 0.3rem;
	border: 1px solid #bc2c58;
}
.main h1{
	text-align: center;
	font-size: 0.2rem;
	color: #000;
}
.main ul{
	margin: 0.3rem 0.28rem 0;
	font-size: 0.16rem;
}
.main ul li{
	margin-bottom: 0.2rem;
}
.main ul li span{
	color: #bc2c58;
}
.main .yue{
	display: block;
	margin: 0.3rem auto 0.45rem;
	width: 60%;
	height: 0.4rem;
	line-height: 0.43rem;
	color: #fff;
	font-size: 0.17rem;
	outline: none;
	border: 0;
	background: #bc2c58;
    border-radius: 0.2rem;
    letter-spacing: 0.03rem;
}
.main .yue i{
	display: inline-block;
	width: 0.2rem;
	height: 0.2rem;
	background-image: url(../img/01.png);
	background-size: cover;
	vertical-align: -0.03rem;
	background-repeat: no-repeat;
	margin-right: 0.08rem;
}
.hp p,.yp p{
	color: #1a1a1a;
	font-size: 0.16rem;
	margin-bottom: 0.08rem;
	text-align: center;
}
table{
	border-collapse: collapse;
	text-align: center;
	font-size: 0.14rem;
}
td{
	border: 1px solid #bc2c58;
	height: 0.4rem;
}
table .wu{
	color: #bc2c58;
}
.footer{
	margin: 0.35rem 0.28rem 0;
	font-size: 0.16rem;
}
.footer span{
	color: #bc2c58;
}
.alert{
	width: 100%;
	height: 100%;
	background-color: #333;
	opacity: 0.7;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
}
.sort{
	background-color: #fff;
	width: 90%;
	position: fixed;
	left: 5%;
	top: 33%;
	z-index: 1000;
	display: none;
}
.sort h1{
	font-size: 0.22rem;
	color: #c33864;
	text-align: center;
	font-weight: 600;
	margin: 0.65rem 0 0.15rem;
}
.sort li{
	font-size: 0.15rem;
	color: #000;
	margin-bottom: 0.15rem;
	margin-left: 11%;
	position: relative;
}
.sort button{
	font-size: 0.17rem;
	color: #fff;
	outline: none;
	border: 0;
	float: left;
	padding: 0.1rem 0.52rem;
	margin-bottom: 0.2rem;
}
.sort .no{
	background-color: #ef90b3;
	margin-left: 11%;
}
.sort .yes{
	background-color: #c33864;
}
.logo{
	position: fixed;
	left: 38%;
	width: 25%;
	top: 26%;
	z-index: 10000;
	display: none;
}
.sort input{
	position: absolute;
	left: 0;
	top: 0.05rem;
	opacity: 0;
}
.sort label{
	display: inline-block;
	width: 0.18rem;
	height: 0.18rem;
	vertical-align: -0.03rem;
	margin-right: 0.05rem;
	background-image: url(../img/no.png);
	background-repeat: no-repeat;
	background-size: 110%;
	background-position: center;
}
.sort input:checked+label{
	background-image: url(../img/yes.png);
}